* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Cormorant Infant", serif;
  box-sizing: border-box;
}
main {
  background: linear-gradient(to top, #e1b168, white);
}
.container {
  width: 1440px;
  margin: 0 auto;
}
:root {
  --BackroundColor: #292e36;
}
:root {
  --GoldenColor: #e1b168;
}
:root {
  font-size: calc(6px + 1vw);
}
header {
  background-color: var(--BackroundColor);
}

.navbarTop {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid rgb(83, 82, 82);
}
.contactTel a {
  color: white;
  border: 1px solid var(--GoldenColor);
  padding: 10px 30px;
  font-size: 20px;
}
.reservation button {
  background-color: var(--GoldenColor);
  color: black;
  padding: 10px 30px;
  font-size: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
.reservation button:hover {
  background-color: var(--BackroundColor);
  border: 1px solid var(--GoldenColor);
  color: white;
}
.navbarCenter {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 2px dashed rgb(83, 82, 82);
  font-size: 20px;
}
.navbarCenter .navbarItems {
  display: flex;
  gap: 90px;
}
.navbarItems a {
  color: #fff;
}
.navbarItems a:hover {
  color: #e1b168;
  transform: scale(1.1);
}
.navbarIcons {
  display: flex;
  gap: 20px;
}
.navbarIcons a {
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}
.navbarIcons a:hover {
  transform: scale(1.1);
  color: var(--GoldenColor);
}
.navbarBottom {
  display: flex;
}
.navbarBottom .navbarBottomLeft {
  margin: 20px 0;
}
.navbarBottomLeft h1 {
  font-size: 60px;
  width: 10ch;
  color: #fff;
  font-family: "Cormorant Infant", serif;
}
.navbarBottomLeft p {
  color: white;
  font-size: 20px;
  text-align: justify;
  margin: 40px 0;
}
.navbarBottomLeft button {
  border: 1px solid var(--GoldenColor);
  color: var(--GoldenColor);
  background-color: var(--BackroundColor);
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}
.navbarBottomLeft button:hover {
  transform: scale(1.1);
  color: #fff;
}
.navbarBottomRight img {
  width: 520px;
  height: 450px;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
  margin: 80px 40px;
}
.locate,
.openhours,
.reservation {
  gap: 20px;
}
.locate h2,
.openhours h2,
.reservation h2 {
  margin-bottom: 10px;
}
.ourstory {
  display: flex;
  margin: 60px 0;
  gap: 40px;
}
.ourstoryText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-bottom: 2px dashed #b2b2b4;
  position: relative;
}
#myVideo {
  width: 700px;
  max-width: 800px;
  height: auto;
  box-shadow: 10px 0 40px var(--BackroundColor);
}
.ourstoryText h2 {
  font-size: 34px;
  margin-bottom: 10px;
}
.texth2 {
  animation: text-focus-in 5s infinite;
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
. .ourstoryText p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}
.ourstoryTextcenter {
  display: flex;
  gap: 50px;
}
.ourstorySign {
  display: flex;
  gap: 50px;
  position: absolute;
  bottom: 5px;
}
.ourstorySign img {
  width: 100px;
  height: 50px;
}

.bizim {
  display: flex;
  justify-content: space-between;
}

.video {
  display: flex;
  gap: 50px;
  margin: 100px 0;
}
.menu {
  display: flex;
  gap: 30%;
}
.mainmenuleft {
  width: 30%;
}
.mainmenuleft h3 {
  width: 25%;
  margin-bottom: 30px;
  border: 2px solid var(--GoldenColor);
  border-left: none;
  border-right: none;
}
.mainmenuleft h2 {
  font-size: 34px;
  margin-bottom: 30px;
}
.mainmenuleft p {
  margin-bottom: 30px;
}
.mainmenuleft button {
  padding: 10px;
  margin-top: 30px;
  font-size: 18px;
  background-color: var(--BackroundColor);
  color: var(--GoldenColor);
  cursor: pointer;
}
.mainmenuleft button:hover {
  background-color: var(--GoldenColor);
  color: white;
}
.product {
  display: flex;
  align-items: center;
  margin: 10% 0;
}
.productimg {
  margin-right: 5%;
}
.productName h3 {
  margin-bottom: 4%;
}
.divider {
  width: 35%;
  height: 1%;
  border: 1px solid black;
  margin: 0 5%;
}
.costumerReview {
  background-color: var(--BackroundColor);
}
.tastetest {
  color: #fff;
  width: 9%;
  border: 1px solid var(--GoldenColor);
  border-right: none;
  border-left: none;
}
.costumerReview h2,
p {
  margin: 1% 0;
  color: #fff;
}
.costumerReview .cards {
  width: 30%;
  height: 25%;
  padding: 2%;
  background-color: #4d525c;
}

.cardsnameandcity {
  display: flex;
  flex-direction: column;
}
.cardsnameandcity .cardsCity {
  color: var(--GoldenColor);
}
.costumerReview .cardsContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}
.divider2 {
  width: 100%;
  height: 1%;
  border: 1px solid silver;
}
