* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Cormorant Infant", serif;
  box-sizing: border-box;
}
main {
  background: linear-gradient(to top, #e1b168, white);
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
:root {
  --BackroundColor: #292e36;
}
:root {
  --GoldenColor: #e1b168;
}
:root {
  font-size: calc(6px + 1vw);
}
header {
  background-color: var(--BackroundColor);
}

.navbarTop {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid rgb(83, 82, 82);
}
.contactTel a {
  color: white;
  border: 1px solid var(--GoldenColor);
  padding: 10px 30px;
  font-size: 20px;
}
.reservation button {
  background-color: var(--GoldenColor);
  color: black;
  padding: 10px 30px;
  font-size: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
.reservation button:hover {
  background-color: var(--BackroundColor);
  border: 1px solid var(--GoldenColor);
  color: white;
}
.navbarCenter {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 2px dashed rgb(83, 82, 82);
  font-size: 20px;
}
.navbarCenter .navbarItems {
  display: flex;
  gap: 90px;
}
.navbarItems a {
  color: #fff;
}
.navbarItems a:hover {
  color: #e1b168;
  transform: scale(1.1);
}
.navbarIcons {
  display: flex;
  gap: 20px;
}
.navbarIcons a {
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}
.navbarIcons a:hover {
  transform: scale(1.1);
  color: var(--GoldenColor);
}
.navbarBottom {
  display: flex;
}
.navbarBottom .navbarBottomLeft {
  margin: 20px 0;
}
.navbarBottomLeft h1 {
  font-size: 60px;
  width: 10ch;
  color: #fff;
  font-family: "Cormorant Infant", serif;
}
.navbarBottomLeft p {
  color: white;
  font-size: 20px;
  text-align: justify;
  width: 80%;
  margin: 40px 0;
}
.navbarBottomLeft button {
  border: 1px solid var(--GoldenColor);
  color: var(--GoldenColor);
  background-color: var(--BackroundColor);
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}
.navbarBottomLeft button:hover {
  transform: scale(1.1);
  color: #fff;
}
.navbarBottomRight img {
  width: 520px;
  height: 450px;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
  margin: 80px 40px;
}
.locate,
.openhours,
.reservation {
  gap: 20px;
}
.locate h2,
.openhours h2,
.reservation h2 {
  margin-bottom: 10px;
}
.ourstory {
  display: flex;
  margin: 60px 0;
  gap: 40px;
}
.ourstoryText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-bottom: 2px dashed #b2b2b4;
  position: relative;
}
#myVideo {
  object-fit: cover;
  width: 800px;
  height: 500px;
  box-shadow: 10px 0 10px var(--BackroundColor);
}
.ourstoryText h2 {
  font-size: 34px;
  margin-bottom: 10px;
}
.texth2 {
  animation: text-focus-in 5s infinite;
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
. .ourstoryText p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}
.ourstoryTextcenter {
  display: flex;
  gap: 50px;
}
.ourstorySign {
  display: flex;
  margin-top: 5%;
  gap: 5%;
}
.ourstorySign img {
  max-width: 100px;
  max-height: 50px;
}

.bizim {
  display: flex;
  justify-content: space-between;
}

.video {
  display: flex;
  gap: 50px;
  margin: 100px 0;
}
.menu {
  display: flex;
  gap: 30%;
}
.mainmenuleft {
  width: 30%;
}
.mainmenuleft h3 {
  width: 25%;
  margin-bottom: 30px;
  border: 2px solid var(--GoldenColor);
  border-left: none;
  border-right: none;
}
.mainmenuleft h2 {
  font-size: 34px;
  margin-bottom: 30px;
}
.mainmenuleft p {
  margin-bottom: 30px;
}
.mainmenuleft button {
  padding: 15px;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--BackroundColor);
  color: var(--GoldenColor);
  cursor: pointer;
}
.mainmenuleft button:hover {
  background-color: var(--GoldenColor);
  color: white;
}
.product {
  display: flex;
  align-items: center;
  margin: 10% 0;
}
.productimg {
  margin-right: 5%;
}
.productName h3 {
  margin-bottom: 4%;
}
.menurightStarters h2,
.menurightMaindish h2,
.menurightDesserts h2 {
  font-weight: bold;
  color: var(--GoldenColor);
  border-bottom: 2px dashed var(--BackroundColor);
  width: 10ch;
}
.divider {
  width: 35%;
  height: 1%;
  border: 1px solid black;
  margin: 0 5%;
}

.tastetest {
  width: 9%;
  border: 1px solid var(--GoldenColor);
  border-right: none;
  border-left: none;
  color: #fff;
}
.costumerReview {
  padding: 10% 0;
  background-color: var(--BackroundColor);
}
.reviewText {
  color: #fff;
}
.costumerReview h2 {
  color: var(--GoldenColor);
}
.costumerReviewText h3,
h2,
p {
  margin-bottom: 2%;
}
.costumerReview .cards {
  display: flex;
  justify-content: space-between;
}
.costumerReview .card {
  width: 30%;
  height: 25%;
  padding: 2%;
  background-color: #4d525c;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.costumerReview .card:hover {
  transform: scale(1.1);
}
.cardsnameandcity {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}
.cardsnameandcity .cardsName {
  color: black;
}
.cardsnameandcity .cardsCity {
  color: var(--GoldenColor);
}
.costumerReview .cardsContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}
.divider2 {
  width: 100%;
  height: 1%;
  border: 1px solid rgb(100, 100, 100);
  margin-bottom: 8%;
}
.lampimgSection img {
  width: 100%;
  object-fit: cover;
}
.offersText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  gap: 5%;
}
.offersTexth3,
.offersTexth2 {
  margin: 1.5%;
}
.offersTexth3 {
  width: 8%;
  color: #fff;
  text-align: center;
  border: 1px solid var(--BackroundColor);
  border-left: none;
  border-right: none;
}
.offersTextp {
  color: #fff;
}
.offersContent {
  display: flex;
  width: 100%;
  gap: 5%;
}
.offersContentcard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: #c5eaf2;
  box-shadow: 0 0 10px var(--BackroundColor);
}
.offersContentVector {
  position: relative;
}
.offersContentVector,
.discount,
.offersContentcardname {
  margin-bottom: 10%;
}
.vectorprice {
  position: absolute;
  top: 35%;
  left: 5%;
}
.discount {
  width: 50%;
  text-align: center;
  border: 1px solid var(--BackroundColor);
  border-left: none;
  border-right: none;
}
.popularOffersTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.popularOfferCards {
  display: flex;
  gap: 4%;
}
.popularOfferCard {
  width: 22%;
  height: 30%;
}
.popularOfferCardImgNamePrice {
  display: flex;
  justify-content: space-between;
}
.divider3 {
  width: 100%;
  height: 1%;
  border: 1px solid rgb(108, 107, 107);
  margin: 5% 0;
}
.descriptionMeal {
  width: 32ch;
}
.popularOfferCardsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popularOfferCardsBtn button {
  padding: 15px;
  margin: 5% 0;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--BackroundColor);
  color: var(--GoldenColor);
  cursor: pointer;
}
.popularOfferCardsBtn button:hover {
  background-color: var(--GoldenColor);
  color: white;
}
.opportunities {
  background-color: var(--BackroundColor);
}
.opportunitiesWidth {
  display: flex;
  justify-content: center;
  align-items: center;
}
.opportunitiesLeft {
  padding: 8% 0;
  width: 50%;
}
.opportunitiesLeft h3 {
  width: 20ch;
  margin-bottom: 2%;
}
.opportunitiesLeft h2 {
  color: var(--GoldenColor);
}
.opportunitiesRight {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.opportunitiesRightCard {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 8% 14%;
  border: 8px solid rgb(95, 95, 95);
}

.opportunitiesRightCard h3 {
  color: #fff;
}
.blogCards {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}
.blogCard {
  width: 44.5%;
  border: 1px solid black;
  margin-bottom: 5%;
}
.blogCardImg {
  position: relative;
}
.blogCardBtn {
  position: absolute;
  bottom: 8rem;
  left: 12rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background-color: var(--GoldenColor);
  color: var(--BackroundColor);
  cursor: pointer;
}
.blogCardBtn:hover {
  border: 1px solid var(--GoldenColor);
  background-color: var(--BackroundColor);
  color: var(--GoldenColor);
}
.blogContent {
  padding: 5% 10%;
}
.blogContentName {
  display: flex;
  gap: 23%;
  width: 65%;
  border-bottom: 1px dashed var(--BackroundColor);
  margin-bottom: 2%;
}
.blogContent h2 {
  color: #fff;
}
.reservation2 {
  background-image: url("img/IMAGE\ \(23\).png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding: 5% 0;
}
.reservationCard {
  width: 50%;
  height: 100%;
  margin: 0 25%;
  background-color: rgba(76, 76, 76, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservationCardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reservationTexth3 {
  margin-bottom: 4%;
  color: #fff;
}
.reservationTexth2 {
  color: var(--GoldenColor);
}
.input {
  background-color: transparent;
  border: 1px solid var(--GoldenColor);
  padding: 15px 20px;
  margin: 10px;
}
.input::placeholder {
  color: #fff;
  font-size: 1rem;
}
.rezervationBtn {
  color: var(--GoldenColor);
  background-color: var(--BackroundColor);
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 5%;
  transition: 0.8s;
}
.rezervationBtn:hover {
  transform: translateY(10px);
  border-color: var(--GoldenColor);
  background-color: transparent;
  color: #fff;
}
.footer {
  background: var(--BackroundColor);
  padding: 5% 0;
}
.footerHashtag {
  color: #fff;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerLogo p {
  margin-top: 2rem;
  color: #fff;
}
.navbarCenter {
  display: flex;
}
.workingHours {
  color: var(--GoldenColor);
  margin-bottom: 1rem;
  border: 1px solid var(--GoldenColor);
  border-left: none;
  border-right: none;
  width: 50%;
}
.workingHour {
  display: flex;
  gap: 1rem;
}
.workingHour span {
  color: var(--GoldenColor);
}

